/* 基本設定 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", sans-serif;
  color: #444;
  letter-spacing: 0.03em;
}
html, body {
  height: 100%;
}

h1, h2, h3 {
  font-weight: 600;
}
h2 {
  font-size: 1.5rem;
  text-align: center;
  color: #d7003a;
}
h2::after {
  content: '';
  display: block;
  height: 2px;
  width: 50px;
  margin: 20px auto;
  background-color: #bbb;
}

a:hover {
  color: #d7003a;
}

dt {
  font-weight: bold;
}
dt, dd {
  max-width: 100%;
}

h3 {
  font-size: 1.125rem;
}

/* ファーストビュー */
.top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  text-align: center;
  font-weight: normal;
  font-size: 2rem;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

h1 span {
  display: block;
  font-size: 1.1em;
  color: #d7003a;
  border-bottom: 1px solid #aaa;
  padding: 5px;
  margin-bottom: 6px;
}

.circle1, .circle2 {
  position: absolute;
  background-color: #d7003a;
  z-index: -2;
  border-radius: 50%;
} 
.circle1 {
  width: 200px;
  height: 200px;
  top: 10%;
  right: 10%;
  opacity: 0.5;
}
.circle2 {
  width: 100px;
  height: 100px;
  bottom: 10%;
  left: 10%;
}

/* プロフィール */
.profile {
  background-color: #fafafa;
  padding: 100px 0;
}

.prf_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 960px;
  max-width: 90%;
  margin: 0 auto;
}
.prf_wrap img, .prf_wrap dl {
  width: 360px;
  max-width: 90vw;
  margin: 0 auto;
}
.prf_wrap dl div {
  margin: 40px 0;
  padding: 0 15px;
  border-left: 2px solid #aaa;
}
.prf_wrap dt {
  margin: 0 0 10px;
}

/* 知識・技能 */
.skills {
  padding: 80px 0;
  background-color: rgba(235, 235, 235, 0.9);
}

.skills dl {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 50px 0;
  width: 960px;
  max-width: 85%;
  margin: 50px auto;
}

.skills dt {
  grid-column: 1;
}
.skills dd {
  grid-column: 2;
}
.skills div {
  display: grid;
  gap: 30px 0;
}
.skills div dd {
  grid-column: 1;
}

/* メッセージ */
.messages {
  padding: 80px 0;
  background-color: #fff;
}

.msg_wrap {
  width: 960px;
  max-width: 85%;
  margin: 40px auto;
}
.msg_wrap p {
  text-align: justify;
  margin: 1em 0;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.375em;
  }

  .prf_wrap {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .prf_wrap dl div {
    margin: 30px 0;
  }

  .skills dl {
    display: block;
    margin: 0 auto 42px;
  }
  .skills dt {
    margin: 50px 0 8px;
  }
  .skills dd {
    margin: 8px 0;
  }
  
}
