* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "Hiragino Kaku Gothic ProN", sans-serif;
  color: #444;
  letter-spacing: 0.04em;
}
html, body {
  height: 100%;
}

.prf-wrap, .skills dl, .msg-wrap {
  width: 960px;
  max-width: 85%;
  margin: 0 auto;
}

h2, h3, dt {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "Hiragino Kaku Gothic ProN", sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 1.75rem;
  color: #d7003a;
  text-align: center;
}
h2::after {
  content: '';
  display: block;
  height: 2px;
  width: 50px;
  margin: 20px auto;
  background-color: #aaa;
}

a:hover {
  color: #d7003a;
}

dt {
  color: #555;
}
dt, dd {
  max-width: 100%;
}

h3 {
  font-size: 1.125rem;
  color: #555;
}

/*ファーストビュー*/
.top {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
  animation: fade-in 1.5s linear;
}

.circle1 {
  position: absolute;
  background-color: #d7003a;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: -1;
  top: -100px;
  left: -100px;
  animation: fade-in 1s;
}

/* プロフィール */
.profile {
  padding: 0 0 80px;
  animation: fade-in-up 0.8s;
}

.prf-wrap {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr, 1fr;
  align-items: center;
}
.prf-wrap img {
  grid-column: 1;
  width: 320px;
  max-width: 80vw;
  margin: 0 auto;
  box-shadow: 10px 10px #444;
}
.prf-wrap dl {
  grid-column: 2;
}
.prf-wrap dl div {
  margin: 25px auto;
}
.prf-wrap dt {
  margin: 0 0 5px;
}

/* 知識・技能 */
.skills {
  padding: 50px 0;
}

.skills dl {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 50px 0;
  margin: 50px auto 0;
}

.skills dt {
  grid-column: 1;
}
.skills dd {
  grid-column: 2;
}
.skills div dd {
  margin: 0 0 30px;
}

/* メッセージ */
.messages {
  padding: 50px 0 100px;
}

.msg-wrap {
  margin: 60px auto;
}
.msg-wrap p {
  text-align: justify;
  margin: 1em 0;
}

/*スクロールしてフェードイン*/
.fade {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s;
}
.scroll-in {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.35rem;
  }

  .prf-wrap {
    grid-template-columns: 1fr;
  }
  .prf-wrap dl {
    grid-column: 1;
    margin: 0 auto;
  }

  .prf-wrap dl div {
    margin: 30px 0;
  }

  .skills dl {
    display: block;
    margin: 0 auto 42px;
  }
  .skills dt {
    margin: 50px 0 8px;
  }
  .skills dd {
    margin: 8px 0;
  }
}
 
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}