* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体', 'Hiragino Kaku Gothic ProN', sans-serif;
  color: #444;
  letter-spacing: .04em;
}
html, body {
  height: 100%;
}

.prf-wrap, .skl-dl, .msg-wrap {
  max-width: 85%;
  width: 960px;
}

h2, h3, dt {
  font-family: 'Yu Gothic', '游ゴシック', YuGothic, '游ゴシック体', 'Hiragino Kaku Gothic ProN', sans-serif;
  font-weight: 600;
}

h2 {
  color: #d7003a;
  font-size: 1.75rem;
  text-align: center;
}
h2::after {
  background-color: #aaa;
  content: '';
  display: block;
  margin: 20px auto;
  height: 2px;
  width: 50px;
}

h3 {
  color: #555;
  font-size: 1.125rem;
}

a:hover {
  color: #d7003a;
}

dt {
  color: #555;
}
dt, dd {
  max-width: 100%;
}

/*ファーストビュー*/
.top {
  position: relative;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
  animation: fade-in 1.5s linear;
}

.circle1 {
  position: absolute;
  background-color: #d7003a;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: -1;
  top: -100px;
  left: -100px;
  animation: fade-in 1s;
}

.scr-ico {
  position: absolute;
  overflow: hidden;
  padding-bottom: 90px;
  right: 10%;
  bottom: 0;
  color: #d7003a;
  writing-mode: vertical-rl;
  animation: fade-in 1s;
}
.scr-ico::after {
  content: '';
  position: absolute;
  display: block;
  right: 50%;
  height: 30px;
  width: 1px;
  background-color: #d7003a;
  animation: scr-down 1.5s infinite;
}

/* プロフィール */
.profile {
  padding: 0 0 90px;
  animation: fade-in-up .8s;
}

.prf-wrap {
  display: grid;
  display: -ms-grid;
  gap: 50px;
  -ms-grid-columns: 1fr 50px 1fr;
  align-items: center;
  margin: 0 auto;
}
.prf-img {
  grid-column: 1;
  -ms-grid-column: 1;
  width: 300px;
  max-width: 80vw;
  margin: 0 auto;
  box-shadow: 10px 10px #444;
}
.prf-dl {
  grid-column: 2;
  -ms-grid-column: 3;
}
.prf-dl > div {
  margin: 25px auto;
}
.prf-dl dt {
  margin: 0 0 5px;
}

/* 知識・技能 */
.skills {
  padding: 50px 0;
}

.skl-dl {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 50px 0;
  margin: 60px auto 0;
  overflow-wrap: break-word;
}

.skl-dl > dt {
  grid-column: 1;
}
.skl-dl > dd {
  grid-column: 2;
}
.devexp > dd {
  margin: 0 0 30px;
}

/* メッセージ */
.messages {
  padding: 50px 0 100px;
}

.msg-wrap {
  margin: 50px auto 70px;
}
.msg-wrap p {
  text-align: justify;
  margin: 1em 0;
}

/*スクロールしてフェードイン*/
.fade {
  opacity: 0;
  transform: translateY(50px);
  transition: all .8s;
}
.scroll-in {
  opacity: 1;
  transform: translateY(0);
}


@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.35rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  .prf-wrap {
    grid-template-columns: 1fr;
  }
  .prf-dl {
    grid-column: 1;
    margin: 0 auto;
  }
  .prf-dl > div {
    margin: 30px 0;
  }

  .skl-dl {
    display: block;
    margin: 0 auto 42px;
  }
  .skl-dl > dt {
    margin: 50px 0 8px;
  }
  .skl-dl > dd {
    margin: 8px 0;
  }
}
 
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scr-down {
  0% {
    transform: translateY(3.5em);
  }
  100% {
    transform: translateY(140px);
  }
}


/*IE用*/
@media all and (-ms-high-contrast: none) {
  .fade {
    opacity: 1;
    transform: translateY(0);
  }
  .scr-ico::after {
    animation: none;
  }
  .skl-dl {
    display: block;
    margin: 0 auto 42px;
  }
  .skl-dl > dt {
    margin: 50px 0 8px;
  }
  .skl-dl > dd {
    margin: 8px 0;
  }
}